@page
@model WebApplication1.Pages.Other_eventsModel
@{
    ViewData["Title"] = "Другие мероприятия";
    ViewData["ShowImage"] = false;
}

<h1>@ViewData["Title"]</h1>

@if (Model.OtherEvents != null && Model.OtherEvents.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Описание</th>
                <th>Дата</th>
                <th>Цена</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OtherEvents)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td>@item.DateEvent.ToString("dd.MM.yyyy HH:mm")</td>
                    <td>@item.TicketPrice</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Нет других мероприятий в базе данных.</p>
}






